<link rel="stylesheet" href="{{ '/assets/css/dtreskunov.github.io.css' | absolute_url }}">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/photo-sphere-viewer@3.2.3/dist/photo-sphere-viewer.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/accordionjs@2.1.1/accordion.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/responsively-lazy@2.0.2/responsivelyLazy.min.css">
<link rel="icon" href="{{ site.author.avatar }}">
<meta name="theme-color" content="{{ site.theme_color }}">
