<!-- begin gphoto_album.html -->
<!-- page.gphoto_album_raw_data:
{{ page.gphoto_raw_album_yml }}
-->
<!-- page.gphoto_album_data:
{{ page.gphoto_album_data_yml }}
-->
{% assign album = page.gphoto_album_data %}
{% assign sizes = "(max-width: 440px) 400px, (max-width: 840px) 800px, 1600px" %}
<div class="gphoto_album" data-gphoto-id="{{ album.id }}" data-geo-json="{{ album.geo_json | escape}}">
{% for entry in album.entries %}
  {% capture img %}
    <img src="{{ entry.thumbnails.first.url }}"
         alt="{{ entry.title | escape }}"
         srcset="{{ entry.srcset }}"
         sizes="{{ sizes }}">
  {% endcapture %}
  <figure class="gphoto_entry" data-gphoto-id="{{ entry.id }}" data-geo-json-id="{{ entry.geo_json_id }}">
    {% case entry.best.medium %}
    {% when 'image' %}
      {% capture exif %}<i class="fa fa-camera" aria-hidden="true"></i> {{ entry.exif }}{% endcapture %}
      {% if entry.photosphere %}
        <div class="photosphere" data-url="{{ entry.best.url }}" data-caption="{{ exif | escape }}">
          {{ img }}
          <div class="overlay"></div>
        </div>
      {% else %}
        <a href="{{ entry.best.url }}" title="{{ exif | escape }}">{{ img }}</a>
      {% endif %}
    {% when 'video' %}
      <video controls="controls"
             poster="{{ entry.thumbnails.first.url }}"
             src="{{ entry.best.url }}"
             onclick="if (this.paused) {this.play();} else {this.pause();}">
        Your browser doesn't support HTML5 video.
        {{ img }}
      </video>
    {% endcase %}
    <figcaption>
      {% if entry.locality %}{% unless page.locality %}
        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ entry.locality | escape }}
      {% endunless %}{% endif %}
      {{ entry.caption | escape }}
    </figcaption>
  </figure>
{% endfor %}
</div>
<!-- end gphoto_album.html -->
